{% extends 'base.html.twig' %}

{% block title %}New QcmValue{% endblock %}

{% block body %}
    <h1>Create new QcmValue</h1>

    {{ include('qcm_value/_form.html.twig') }}

    <a href="{{ path('qcm_value_index') }}">back to list</a>
{% endblock %}
