{% extends 'base.html.twig' %}

{% block title %}Edit LienDoodle{% endblock %}

{% block body %}
    <h1>Edit LienDoodle</h1>

    {{ include('lien_doodle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lien_doodle_index') }}">back to list</a>

    {{ include('lien_doodle/_delete_form.html.twig') }}
{% endblock %}
