<form method="post" action="{{ path('interclub_veteran_delete', {'id': interclub_veteran.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ interclub_veteran.id) }}">
    <button class="btn">Delete</button>
</form>
