{% extends 'base.html.twig' %}

{% block title %}Edit InterclubVeteran{% endblock %}

{% block body %}
    <h1>Edit InterclubVeteran</h1>

    {{ include('interclub_veteran/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('interclub_veteran_index') }}">back to list</a>

    {{ include('interclub_veteran/_delete_form.html.twig') }}
{% endblock %}
