{% extends 'base.html.twig' %}

{% block title %}New InterclubVeteran{% endblock %}

{% block body %}
    <h1>Create new InterclubVeteran</h1>

    {{ include('interclub_veteran/_form.html.twig') }}

    <a href="{{ path('interclub_veteran_index') }}">back to list</a>
{% endblock %}
